# Server Port Configuration
PORT=5000

# Set to true to use MySQL database (XAMPP / MySQL Workbench / Cloud MySQL)
USE_MYSQL=false

# MySQL Connection Details
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=Kathir@143
DB_NAME=selvis_arts_db

# JWT Secret Key
JWT_SECRET=super-secret-key-for-selvi-arts

# Cloudinary CDN Configuration (Image Storage in Cloud)
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
